<h1> Add a Review to this Restaurant</h1>

<%= form_for([@restaurant, @review]) do |t| %>

  <%= t.label :rating %>
  <%= t.text_field :rating %>
  <br>
  <%= t.label :content %>
  <%= t.text_field :content %>
  <br>
  <br>

  <%= t.submit class: 'btn btn-success'%>
  <% end %>
<br>
<br>

<%= link_to "Back to list", restaurants_path %>
