<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-xs-12 col-sm-10 col sm-offset-1'>

      <h1> Add a Review to <%=@restaurant.name %></h1>

      <%= simple_form_for([@restaurant, @review]) do |t| %>


        <%= t.input :rating, collection:(1..5) %>

        <%= t.input :content %>
        <br>

        <%= t.submit class: 'btn btn-success'%>
        <% end %>
      <br>
      <br>

      <%= link_to "Back to list", restaurants_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
